__pycache__/*
*.test
*.bak*
styles/Microsoft
styles/Google
styles/write-good
Microsoft.zip
.aider*
commit.txt
**/1_py3_script
*build/**
*.log
fail*.json
geminimodelids.txt
venv/**
.aider.chat.history.md
!**/*Summary.txt
testsummary.txt
**/*.vtt
**/*.en.txt
*.webm
*.m4a
*.txt
*.wav
*.flac
*.mp4
*downloads/**
!**/Day*Summary.txt
*.url
*.url.txt
!deps.txt
